In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\91868\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\91868\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\91868\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\91868\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\91868\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\91868\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [38]:
import pandas as pd
import numpy as np

In [2]:
import nltk

### Download the updated packages of nltk

In [3]:
pip install --upgrade nltk

Requirement already satisfied: nltk in c:\users\91868\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\91868\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\91868\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\91868\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\91868\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\91868\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000020DC79C23D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/nltk/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000020DC79D5A90>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/nltk/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000020DC7A070D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/nltk/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000020DC7A04350>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/nltk/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000020DC7A0C410>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/nltk/

In [4]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

## Example

In [5]:
paragraph= 'He is a good boy. she is a good girl. boy & girl are good .'
paragraph

'He is a good boy. she is a good girl. boy & girl are good .'

### sentence tokenization : breaking the data to sentences

In [6]:
sentences = nltk.sent_tokenize(paragraph) # it made a list of sentences
sentences

['He is a good boy.', 'she is a good girl.', 'boy & girl are good .']

### Word tokenization: breaking the data into words

In [7]:
words = nltk.word_tokenize(paragraph) # it makes the list of words
words

['He',
 'is',
 'a',
 'good',
 'boy',
 '.',
 'she',
 'is',
 'a',
 'good',
 'girl',
 '.',
 'boy',
 '&',
 'girl',
 'are',
 'good',
 '.']

## List of stop words

In [8]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

# Text Cleaning

- 1.Remove special characters other than white space
- 2.remove stopwords
- 3.stemming or Lemmatization

## List of stop words

In [18]:
import re

corpus = []
for i in range(3):
    l = re.sub('[^a-zA-Z]',' ',sentences[i])
    l = l.lower()
    l = l.split()
    l = [ps.stem(j) for j in l if j not in stopwords.words('english')]   
    l = ' '.join(l)
    corpus.append(l)
print(corpus)

['good boy', 'good girl', 'boy girl good']

# stemming or lemmatize

In [20]:
from nltk.stem import PorterStemmer       # import the PorterStemmer from the nltk of stemfunction
ps = PorterStemmer()                       # it wont provide the exact meaning
ps.stem('History')                          # executes fast    # useful for when no interference

'histori'

In [30]:
from nltk.stem import WordNetLemmatizer     # it gives the meaninful words 
wnl = WordNetLemmatizer()                    # executes slow and useful during the human interference
wnl.lemmatize('historical')

'historical'

# Vectorization (Bag of words)

- it counts the number of words in a given sentence

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
cv.fit_transform(corpus).toarray()

array([[1, 0, 1],
       [0, 1, 1],
       [1, 1, 1]], dtype=int64)

In [41]:
pd.DataFrame(cv.fit_transform(corpus).toarray(),columns = cv.get_feature_names_out())

   boy  girl  good
0    1     0     1
1    0     1     1
2    1     1     1

# TF - IDF Vectorizer

- TF - term frequency which means number of words per each sentence
- IDF - Inverse document frequency

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()
tf.fit_transform(corpus).toarray()

array([[0.78980693, 0.        , 0.61335554],
       [0.        , 0.78980693, 0.61335554],
       [0.61980538, 0.61980538, 0.48133417]])

In [50]:
pd.DataFrame(tf.fit_transform(corpus).toarray(),columns = tf.get_feature_names_out())

        boy      girl      good
0  0.789807  0.000000  0.613356
1  0.000000  0.789807  0.613356
2  0.619805  0.619805  0.481334